<%- include('partials/header') %>
   
<%- include('partials/navbar') %>

        <h1>Pessoa</h1>

        <div id="pessoas">

            <% if (!pessoas) { %>
              
            <%} else { %>
        
              <h1>Apresentando lista de pessoas </h1>
              
              <% for(pessoa of pessoas) { %>
                <article>
                  <p><%= pessoa.id %> - <%= pessoa.nome %> - <%= pessoa.nascimento %> </p>
                </article>
              <% } %>
            <% } %>
        </div>

        <form action ="/pessoa" method="GET">

            <label for="id">ID:</label>
            <input type="text" name="id" required>
            <br>

            <button type="submit">Pesquisar</button>

        </form>

        <form action ="/pessoa" method="POST">

            <label for="nome">Nome:</label>
            <input type="text" name="nome" required><br>

            <label for="nascimento">Nascimento:</label>
            <input type="date" name="nascimento" required><br>

            <button type="submit">Enviar</button>
            
        </form>

        <form  action="/pessoa"  method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <label for="id">ID:</label>
            <input type="number" name="id" required><br>
            <input type="submit" value="REMOVER"/>
        </form>

<%- include('partials/footer') %>